@import "../../../mixins";
@import "../../../constants";

.navbar {
    background-color: $gray-color;
    a {
        cursor: pointer;
        user-select: none;
    }
	 .nav-link {
	            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            color: $darker-gray-color;
            font-weight: lighter;
        }
  }