<div class="container-fluid" id="body">
	<div class="row content">
		<form class="form-reset" [formGroup]="formCredit" (ngSubmit)="onSubmit()" *ngIf="!messageGreat && showForm">
			<div class="text-center">
				<p class="title">Solicitud de credito</p>
      </div>
      <div class="mb-3">
        <label for="nameCompany">Nombre empresa</label>
        <input type = "text" [value] = "name" formControlName="nameCompany" #nameCompany class="form-control" placeholder="Nombre empresa" required >
      </div>
      <div *ngIf="!formCredit.get('nameCompany').valid && formCredit.get('nameCompany').touched">
        <p class="error-text" *ngIf="formCredit.get('nameCompany').errors['required']">
          Campo requerido
        </p>
        <p class="error-text" *ngIf="formCredit.get('nameCompany').errors['minlength']">
          Debe contener mínimo 3 letras
          </p>
      </div>
			<div class="mb-3">
        <label for="nit">NIT</label>
				<input type = "number" [value] = "nit" onKeyPress="if(this.value.length==10) return false;" #nit formControlName="nit" class="form-control" placeholder="NIT" required>
			</div>
			<div *ngIf="!formCredit.get('nit').valid && formCredit.get('nit').touched">
				<p class="error-text" *ngIf="formCredit.get('nit').errors['required']">
					Campo requerido
				</p>
				<p class="error-text" *ngIf="formCredit.get('nit').errors['min']">
					Debe contener mínimo 6 digitos
				  </p>
				<p class="error-text" *ngIf="formCredit.get('nit').errors['max']">
					Debe contener máximo 10 digitos
				  </p>
			</div>
				<div class="mb-3">
            <label for="salary">Salario</label>
					<input type = "number" [value] = "salary"  min = "0" #salary formControlName="salary" class="form-control" placeholder="Salario" required >
				</div>
				<div *ngIf="!formCredit.get('salary').valid && formCredit.get('salary').touched">
					<p class="error-text" *ngIf="formCredit.get('salary').errors['required']">
						Campo requerido
					</p>
					<p class="error-text" *ngIf="formCredit.get('salary').errors['min']">
            No puede ser negativo o 0
            </p>
            <p class="error-text" *ngIf="formCredit.get('salary').errors['max']">
               No puede ser superior a $100.000.000
            </p>
				</div>
				<div class="mb-3">
          <label for="dateEntry">Fecha ingreso a la compañia</label>
					<input [value] = "dateEntry" type = "date" formControlName="dateEntry" #dateEntry class="form-control" placeholder="" required >
				</div>
        <button class="btn btn-primary btn-block mb-5" type="submit">Solicitar</button>
        <div class="text-center" *ngIf="messageError">
            <p class="error-text"> {{message}} </p>
          </div>
		</form>
		<div class="text-center form-reset" *ngIf="messageGreat">
      <p class="great-text"> {{message}} </p>
      <button class="btn btn-primary btn-block mb-1" (click)="goToCredits()" type="button">Solicitar nuevo credito</button>
      <button class="btn btn-secondary btn-block" (click)="goToUsers()" type="button">Crear nuevo usuario</button>
		</div>
	</div>
</div>


