@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";


$darker-gray-color: #4D4D4D;
$dark-gray-color: #808080;
$gray-color: #CCCCCC;
$light-gray-color: #F2F2F2;
$green-color: #669966;
$red-color: #CC6666;
$yellow-color: #EF9C2C;